:root {
    --blue: #2D66A8;
    --red-text: #F55151;
    --red2: #FF0000;
    --p: #525252;
    --pink: #FF8E8E;
    --white: #FFFFFF;
    --purple: #9747FF;
    --light-blue: #E4EFFA;
    --light-red: #F63636;
    --light-grey: #F5F9FF;
    --light-brown: #F7F7F7;
    --main-width: 90%;
    --heading: #232A42;
    --heading-font: "Montserrat", sans-serif;
    --p-font: "Plus Jakarta Sans", sans-serif;
    --button-padding: 32px 40px;
    --thin: 100;
    --extra-light: 200;
    --light: 300;
    --normal: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold: 800;
    --black: 900;
    --vending-font: "Questrial", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--vending-font);
}

body {
    max-width: 100vw;
    position: relative;
    /* background-color: #FCF9FB; */
    background-color: rgb(249, 249, 249, 1);
}

body::-webkit-scrollbar {
    display: none;
}

.blue {
    color: var(--blue);
}

.red {
    color: var(--red-text);
}

.paragraph {
    color: var(--p);
    font-family: var(--p-font);
    font-size: 16px;
    line-height: 24px;
}

.top-banner {
    width: 100%;
    height: 117px;
    background-color: var(--blue);
}

.main {
    /* width: 43%; */
    margin: auto;
    padding-top: 69px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 23px;
}

button {
    background: transparent;
    outline: none;
    border: none;
}

.main-heading {
    font-weight: var(--black);
    font-size: 35px;
}

.background img {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    bottom: 0;
}

.purchase-title {
    font-weight: var(--bold);
    font-style: 28px;
    color: black;
}

.purchase-option {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    gap: 13px;
    color: #848484;
}

.purchase-option button {
    border-radius: 15px;
    height: 56px;
    width: 207px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.05);
    background-color: white;
    border: 1px solid #EAEAEA;
}

.purchase-dashboard {
    display: flex;
    width: 43%;
    margin: auto;
    flex-direction: column;
    background-color: white;
    padding: 13px 45px 150px;
    border-radius: 30px;
    gap: 30px;
    position: relative;
}

.airtime-back-button {
    position: absolute;
    top: 13px;
    left: 45px;
}

.next-button {
    position: absolute;
    bottom: 13px;
    right: 45px;
    display: inline;
    background-color: #F55151;
    height: 56px;
    width: 158px;
    border-radius: 15px;
    color: white;
    font-size: 25px;
    font-weight: var(--bold);
}

.airtime-form input::placeholder {
    color: #C2C2C2;
}

.airtime-form input,
.airtime-form select {
    box-sizing: border-box;
    width: 100%;
    outline: none;
    border: none;
    background-color: #F8F8F8;
    height: 65px;
    color: #C2C2C2;
    font-weight: var(--normal);
    font-size: 22px;
    padding: 4px 30px;
    border-radius: 10px;
}

.airtime-form label {
    display: block;
    text-align: left;
    font-weight: var(--medium);
    color: #383838;
    font-size: 18px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}