.dashboard-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16%;
    height: 100%;
    overflow-x: hidden;
    background-color: var(--blue);
}

.dashboard-logo-container {
    height: 116.5px;
    padding: 12% 3%;
}

.sidebar-image-link {
    margin-left: 11%;
    display: flex;
    align-items: center;
    height: 50px;
    gap: 12px;
}

.sidebar-link-image {
    width: 24px;
    height: 24px;
}

.sidebar-link-image img {
    width: 100%;
    height: 100%;
}

.sidebar-link a {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.95px;
    text-align: left;
}

.first-sidebar-image-link {
    margin-top: 12%;
}

.dashboard-sidebar hr {
    height: 0px;
    color: #303031;
    border: 1px solid #303031;
    background-color: #303031;
}

.first-hr {
    width: 100%;
}

.second-hr {
    margin: 5% auto;
    width: 85%;
}

.dashboard-sidebar-bottom {
    justify-self: flex-end;
    color: white;
}

.sidebar-profile,
.account-type-select {
    display: flex;
    align-items: center;
}

.sidebar-profile {
    margin: 40px 0 40px 30px;
    gap: 12px;
}

.account-type-change {
    display: flex;
    flex-direction: column;
}

.account-type-select {
    gap: 12px;
}

.account-type-select img {
    width: 12px;
    height: 7.4px;
    cursor: pointer;
}

.account-type {
    color: #DEDEDE;
}

.dashboard {
    background-color: rgba(249, 249, 249, 1);
    margin-left: 16%;
    width: 84%;
    min-height: 100vh;
}

.bold {
    font-weight: 800;
}

.red {
    color: var(--red-text);
}

.blue {
    color: rgba(45, 102, 168, 1);
}

.dashboard-main header {
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    padding: 32px 0 58px 5%;
    top: 0;
    height: 116.5px;
    background-color: rgba(249, 249, 249, 1);
    z-index: 20;
}

.dashboard-main .search-bar {
    background-color: #F4F5F7;
    width: 320px;
    top: 32px;
    padding: 6px 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    position: relative;
}

.dashboard-main .search-bar input {
    border: 0;
    background-color: #F4F5F7;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: left;
}

.search-icon {
    width: 20px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
}

.search-icon img {
    width: 100%;
    height: 100%;
}

.dashboard-main section {
    position: relative;
    z-index: 10;
    /* height: 100vh; */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin-top: 116.5px;
    padding-left: 5%;
    padding-right: 10px;
}

.dashboard .background img {
    position: fixed;
    right: 0;
    top: 116.5px;
    z-index: 1;
    bottom: 0;
    width: 50%;
}

.updates {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.verify-account {
    display: flex;
    padding: 10px;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--bold);
    color: rgba(110, 110, 110, 1);
    border-radius: 10px;
    background-color: rgba(226, 236, 247, 1);
}

.verify-account a {
    color: rgba(238, 73, 73, 1);
    text-decoration: underline;
    cursor: pointer;
}

.success-register {
    display: flex;
    align-items: center;
}

.success-register-img {
    width: 40px;
    height: 64px;
    margin-right: 8px;
}

.success-register-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.success-register p {
    font-weight: var(--bold);
    color: rgba(152, 220, 135, 1);
}

.content-label {
    display: flex;
    width: 100%;
    gap: 8%;
    margin: 10px 0 10px;
    align-items: center;
}

.content-label p {
    font-weight: var(--bold);
    font-size: 34px;
}

.add-logo {
    width: 26px;
    height: 28px;
}

.add-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.add-money {
    display: flex;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    gap: 15px;
}

.add-money p {
    font-size: 22px;
}

.content-main {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    margin: 10px 10px 20px 0px;
    width: 100%;
    height: 265px;
}

.welcome-balance {
    width: 37%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(248, 251, 255, 1);
    border-radius: 20px;
    border: 1px solid #eaeaea;
}

.welcome-name {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.welcome-name p {
    font-size: 30px;
    font-weight: var(--bold);
    color: rgba(45, 102, 168, 1);
}

.welcome-card {
    width: 33px;
    height: 29px;
}

.welcome-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.welcome-balance-amount {
    font-size: 35px;
}

.buy-airtime {
    width: 25%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    border: 1px solid #eaeaea;
}

.airtime-phone {
    width: 73px;
    height: 71px;
}

.airtime-phone img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.airtime-base-text {
    display: flex;
    font-size: 34px;
    gap: 15px;
    align-items: flex-end;
    justify-content: flex-end;
}

.next {
    display: flex;
}

.next-btn {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 1px solid rgba(234, 234, 234, 1);
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.buy-data {
    width: 25%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    border: 1px solid #eaeaea;
}

.data-phone {
    width: 65px;
    height: 100px;
}

.data-phone img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-referral {
    display: flex;
    gap: 2%;
    margin: 10px 0 10px;
    width: 100%;
    height: 205px;
}

.referral-earnings {
    width: 37%;
    height: 100%;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    border: 1px solid #eaeaea;
}

.referral-code {
    color: rgba(45, 102, 168, 1);
}

.my-code {
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: rgba(244, 208, 217, 1);
}

.my-ref-earnings {}

.earning-naira {
    color: rgba(45, 102, 168, 1);
    margin: 5px 0;
}


.dashboard-table {
    width: 100%;
    background-color: #E2ECF7;
    border: 1px solid #EAEAEA;
    border-radius: 10px;
}

.dashboard-table table {
    width: 100%;
}

.dashboard-table th,
.dashboard-table td {
    padding: 8px;
    text-align: left;
}

.transaction-table {
    position: relative;
}

.dashboard-networks {
    transform: translateY(-60%);
    position: absolute;
    top: 0;
    right: 0;
}

th {
    border-bottom: 1px solid #CFCFCF;
    font-size: 20px;
    font-weight: var(--bold);
    line-height: 24px;
}

.table-heading {
    padding-top: 70px;
    margin-bottom: 19px;
    font-size: 28px;
    font-weight: var(--bold);
    line-height: 34.66px;
    text-align: left;
    color: #585858;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    gap: 26px;
    margin-top: 35px;
    text-align: right;
    color: #4F4F4F;
    font-size: 20px;
    font-weight: var(--bold);
    line-height: 24px;
}

.dashboard button {
    cursor: pointer;
}