:root {
    --blue: #2d66a8;
    --red-text: #f55151;
    --red2: #ff0000;
    --p: #525252;
    --pink: #ff8e8e;
    --white: #ffffff;
    --purple: #9747ff;
    --light-blue: #e4effa;
    --light-red: #f63636;
    --light-grey: #f5f9ff;
    --light-brown: #f7f7f7;
    --main-width: 90%;
    --heading: #232a42;
    --heading-font: "Montserrat", sans-serif;
    --p-font: "Plus Jakarta Sans", sans-serif;
    --button-padding: 32px 40px;
    --thin: 100;
    --extra-light: 200;
    --light: 300;
    --normal: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold: 800;
    --black: 900;
    --vending-font: "Questrial", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    box-sizing: border-box;
    font-family: var(--vending-font);
}

body {
    max-width: 100vw;
    position: relative;
    background-color: rgb(249, 249, 249, 1);
}

body::-webkit-scrollbar {
    display: none;
}

.blue {
    color: var(--blue);
}

.red {
    color: var(--red-text);
}

.bold {
    font-weight: var(--bold);
}

.paragraph {
    color: var(--p);
    font-family: var(--p-font);
    font-size: 16px;
    line-height: 24px;
}

.top-banner {
    width: 100%;
    height: 117px;
    background-color: var(--blue);
}

.background img {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    bottom: 0;
}

.otp-main {
    display: flex;
    flex-direction: column;
    padding: 46px 0 0 51px;
    gap: 14px;
    width: 40%;
}

.otp-head {
    padding-left: 16px;
    height: 61px;
    display: flex;
    align-items: center;
    background-color: var(--blue);
    color: white;
    border-radius: 10px;
    font-weight: var(--semi-bold);
    font-size: 20px;
}

.otp-body {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 46px 0 46px 69px;
    color: #B3B3B3;
    background-color: white;
    border-radius: 20px;
}

.confirm {
    font-weight: var(--black);
    font-size: 32px;
}

.otp-phone {
    color: #101010;
}

.otp-input {
    display: flex;
    gap: 5px;
}

.otp-digit {
    outline: none;
    width: 52px;
    height: 55px;
    text-align: center;
    background-color: #F8F8F8;
    color: #AEAEAE;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

.resending {
    color: #474646;
}

.otp-sign-in {
    display: inline;
    width: 147px;
    height: 56px;
    color: black;
    font-weight: var(--bold);
    font-size: 25px;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: var(--red-text);
}