.dashboard-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 16%;
    height: 100%;
    overflow-x: hidden;
    background-color: var(--blue);
}

.dashboard-logo-container {
    height: 116.5px;
    padding: 12% 3%;
    /* box-sizing: border-box; */
}

.sidebar-image-link {
    margin-left: 11%;
    display: flex;
    align-items: center;
    height: 59px;
    gap: 12px;
}

.sidebar-link-image {
    width: 24px;
    height: 24px;
}

.sidebar-link-image img {
    width: 100%;
    height: 100%;
}

.sidebar-link a {
    color: white;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 26.95px;
    text-align: left;
}

.first-sidebar-image-link {
    margin-top: 12%;
}

.dashboard-sidebar hr {
    height: 0px;
    color: #303031;
    border: 1px solid #303031;
    background-color: #303031;
}

.first-hr {
    width: 100%;
}

.second-hr {
    margin: 5% auto;
    width: 85%;
}