.dashboard-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16%;
    height: 100%;
    overflow-x: hidden;
    background-color: var(--blue);
}

.dashboard-logo-container {
    height: 116.5px;
    padding: 12% 3%;
}

.sidebar-image-link {
    margin-left: 11%;
    display: flex;
    align-items: center;
    height: 50px;
    gap: 12px;
}

.sidebar-link-image {
    width: 24px;
    height: 24px;
}

.sidebar-link-image img {
    width: 100%;
    height: 100%;
}

.sidebar-link a {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.95px;
    text-align: left;
}

.first-sidebar-image-link {
    margin-top: 12%;
}

.dashboard-sidebar hr {
    height: 0px;
    color: #303031;
    border: 1px solid #303031;
    background-color: #303031;
}

.first-hr {
    width: 100%;
}

.second-hr {
    margin: 5% auto;
    width: 85%;
}

.dashboard-sidebar-bottom {
    justify-self: flex-end;
    color: white;
}

.sidebar-profile,
.account-type-select {
    display: flex;
    align-items: center;
}

.sidebar-profile {
    margin: 40px 0 40px 30px;
    gap: 12px;
}

.account-type-change {
    display: flex;
    flex-direction: column;
}

.account-type-select {
    gap: 12px;
}

.account-type-select img {
    width: 12px;
    height: 7.4px;
    cursor: pointer;
}

.account-type {
    color: #DEDEDE;
}