.dashboard-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 16%;
    height: 100%;
    overflow-x: hidden;
    background-color: var(--blue);
}

.dashboard-logo-container {
    height: 10.8%;
    padding: 12% 3%;
    border-bottom: 1px solid #303031;
}