.dashboard {
  background-color: rgba(249, 249, 249, 1);
  margin-left: 16%;
  width: 84%;
  min-height: 100vh;
  position: relative;
}

.dashboard-main {
}

.dashboard-main header {
  width: 100%;
  position: fixed;
  height: 116.5px;
  background-color: rgba(249, 249, 249, 1);
  z-index: 2;
  border: 1px solid black;
}

.dashboard-main section {
    overflow-y: hidden;
}

.background img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  bottom: 0;
  width: 60%;
}
