.dashboard {
  background-color: rgba(249, 249, 249, 1);
  margin-left: 16%;
  width: 84%;
  min-height: 100vh;
}

.dashboard-main header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 116.5px;
  background-color: rgba(249, 249, 249, 1);
  z-index: 2;
  border: 1px solid black;
}

.dashboard-main section {
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin-top: 116.5px;
}

.background img {
  position: fixed;
  right: 0;
  top: 116.5px;
  z-index: 1;
  bottom: 0;
  width: 50%;
}

.updates { 
    display: flex;
}

.verify-account {
    display: flex;
}

.success-register{
    display: flex;
}

.success-register-img{
    width: 40px;
    height: 64px;
}