:root {
    --blue: #2D66A8;
    --red-text: #F55151;
    --red2: #FF0000;
    --p: #525252;
    --pink: #FF8E8E;
    --white: #FFFFFF;
    --purple: #9747FF;
    --light-blue: #E4EFFA;
    --light-red: #F63636;
    --light-grey: #F5F9FF;
    --light-brown: #F7F7F7;
    --main-width: 90%;
    --heading: #232A42;
    --heading-font: "Montserrat", sans-serif;
    --p-font: "Plus Jakarta Sans", sans-serif;
    --button-padding: 32px 40px;
    --thin: 100;
    --extra-light: 200;
    --light: 300;
    --normal: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold: 800;
    --black: 900;
    --vending-font: "Questrial", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    font-family: var(--vending-font);
}

body {
    max-width: 100vw;
    position: relative;
    background-color: #F9F9F9;
}

body::-webkit-scrollbar {
    display: none;
}

.blue {
    color: var(--blue);
}

.red {
    color: var(--red-text);
}

.paragraph {
    color: var(--p);
    font-family: var(--p-font);
    font-size: 16px;
    line-height: 24px;
}

.top-banner {
    width: 100%;
    height: 117px;
    background-color: var(--blue);
}

.main {
    /* width: 43%; */
    padding: 0 28.5%;
    margin: auto;
    padding-top: 69px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 23px;
}

button {
    background: transparent;
    outline: none;
    border: none;
}

.main-heading {
    font-weight: var(--black);
    font-size: 35px;
}

.background img {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    bottom: 0;
}

.purchase-option {
    display: flex;
    align-self: center;
    gap: 13px;
}

.purchase-option button {
    border-radius: 15px;
    height: 56px;
    width: 207px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.05);
    background-color: white;
    border: 1px solid #EAEAEA;
}

.buy-airtime {
    color: #848484;
}

.vending-intro {
    margin-bottom: 69px;
    display: flex;
    color: white;
    align-items: center;
    border-radius: 30px;
    padding: 74px 29px;
    background: url('assets/intro-img.png') var(--blue);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

.intro-text {
    width: 55%;
    /* font-size: 25px; */
    font-weight: var(--bold);
    text-align: left;
}

.intro-image {
    flex: 1;
    width: 50%;
}

.intro-image img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.purchase-dashboard {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 13px 45px;
    border-radius: 30px;
    gap: 30px;
}

.recent-row {
    display: flex;
    gap: 54px;
    align-self: center;
}

.recent-detail {
    display: inline-block;
}

.align-left {
    text-align: left;
}

.offer-row {
    display: flex;
    gap: 26px;
    justify-content: flex-start;
    background-color: #FCF9FB;
    padding: 20px 35px;
    border-radius: 15px;
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.offer-row::-webkit-scrollbar {
    display: none;
}

.offer-col {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 18px 24px;
    gap: 30px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    flex-shrink: 0;
    /* scrollbar-color: blue; */
}

.offer-details,
.offer-price {
    display: flex;
    justify-content: center;
}

.offer-details {
    gap: 2px;
    font-weight: var(--semi-bold);
}

.plans-head {
    display: flex;
    gap: 20%;
}

.plans-row {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.plans-col {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    background-color: #FCF9FB;
    gap: 20px;
    border-radius: 10px;
}

.plan-time {
    color: #4C494B;
}

.plan-price {
    color: #939393;
}